<%- include('./partials/header'); -%>



  <div class="table-container">
    <table class="table is-narrow">
      <tr><td align="center">
        <table class="table is-narrow">
            <thead>
              <tr>
                <th><div class="notification ">
                  <h2 class="title is-2 has-text-centered"><br>Have a nice day SEI Students and Instructors</h2><br>
                </div></th>
                <th><div class="notification is-info">
                 <h3 class="title is-2 has-text-centered">TOTAL STORAGES<br><br><strong>9</strong></h3>
                </div></th>
                <th><div class="notification is-warning">
                  <h3 class="title is-2 has-text-centered">TOTAL USERS<br><br><strong>5</strong></h3>
                </div></th>
                <th><div class="notification is-danger">
                  <h3 class="title is-2 has-text-centered">TOTAL MESSAGES<br><br><strong>8</strong></h3>
                </div></th>
                </tr>
            </thead>
           </table>
           </td>
          </tr>
      </table>
  </div>






  
<%- include('./partials/footer'); -%>

