<%- include('../partials/header.ejs') -%>



          <% if (user) { %>
          <section class="hero is-danger">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Add New Storage
                </h1>
              </div>
            </div>
          </section>
          <div class="column is-2"></div>
          <div class="column is-8">
          <form action="/storages" method="POST">    
          <div class="columns">
            <div class="column is-one-third"></div>
            <div class="column">
              <div class="field">
                <label class="label">Publisher</label>
                <div class="control">
                  <input class="input is-small" type="text" name="publisherName" value="<%= user.name %>" disabled>
                </div>
              </div>
              <div class="field">
                <label class="label">Storage Category :</label>
                <div class="select is-small is-fullwidth">
                  <select name="category">
                    <option value="Shared">Shared Storage</option>
                    <option value="Private">Private Storage</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">Storage Type :</label>
                <div class="select is-small is-fullwidth">
                  <select name="storageType">
                    <option value="Covered">Covered Storage</option>
                    <option value="Uncovered">Uncovered Storage</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">Storage Usage Type :</label>
                <div class="select is-small is-fullwidth">
                  <select name="usageType">
                    <option value="All">All Purpose Storage</option>
                    <option value="Limited">Limited Storage Storage</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">Location (City) :</label>
                <div class="select is-small is-fullwidth">
                  <select name="location">
                    <option value="Houston">Houston</option>
                    <option value="San Antonio">San Antonio</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Austin">Austin</option>
                    <option value="Forth Worth">Forth Worth</option>
                    <option value="El Paso">El Paso</option>
                    <option value="Arlington">Arlington</option>
                    <option value="Corpus Christi">Corpus Christi</option>
                    <option value="Plano">Plano</option>
                    <option value="Laredo">Laredo</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">Google Maps Link</label>
                <div class="control">
                  <input class="input is-small" type="url" name="mapLink" autocomplete="off" required pattern="https://.*">
                </div>
              </div>
              <div class="field">
              <label class="label">Photo Link</label>
              <div class="control">
                <input class="input is-small" type="url" name="photoLink" autocomplete="off" required pattern="https://.*">
              </div>
            </div>
            <div class="field">
              <label class="label">Monthly Price</label>
              <div class="control">
                <input class="input is-small" type="number" name="price" autocomplete="off" required min="1" max="9999">
              </div>
            </div>
            <div class="field">
              <label class="label">Header</label>
              <div class="control">
                <input class="input is-small" type="text" name="storageHeader" autocomplete="off" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Details</label>
              <div class="control">
                <textarea class="textarea" rows="10" name="storageDetails" required></textarea>
              </div>
            </div>
            <input type="hidden" name="userID" value="<%=user.id%>"
            <div class="field">
              <div class="control">
                <button class="button is-danger">Add My Storage</button>
              </div>
            </div>
          </form>
          </div>
          </div>
            <div class="column is-2"></div>
          </div>
          <% } %>



<%- include('../partials/footer.ejs') -%>


