<div class="container">&nbsp;</div>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Share My Storage by SEI Rookie
      </p>
    </div>
  </footer>

</body>
</html>