
<footer class="footer">
    <div class="content has-text-centered">
  
     <div class="container"> 
        <div class="columns">
          <div class="column" align="left">
            <a class = "small-link" href="/about">ABOUT</a><br>
            <a class = "small-link" href="/howitworks">HOW SMS WORKS?</a><br>
            <a class = "small-link" href="/contact">CONTACT</a>
          </div>
          <div class="column is-three-fifths "><br><span class="small-footer">Developed with <i class="fas fa-heart"></i> for GA SEI Project#02</span></div>
          <div class="column" align="right"><span class="logo">SHARE<font color="#777777">MY</font>STORAGE</span></a><br>
            <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i></div>
        </div>
      </div>

    </div>
  </footer>
</body>
</html>