<%- include('./partials/header'); -%>




<section class="section">
    <div class="container">
      <h1 class="title">About</h1>
          <p class="subtitle">
            Do you need a <strong>Storage-Mate?</strong>
          </p>
        </div>
      </section>
  

    


<%- include('./partials/footer'); -%>


