<%- include('./partials/header'); -%>
<section class="intro">  

  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About
      </h1>
      <h2 class="subtitle">
        Do you need a <strong>Storage-Mate?</strong>
      </h2>
    </div>
  </div>
  
<div class="container  is-fullheight">


  <div class="columns">
    <div class="column">
      <h5 class="subtitle is-5"><b>Share empty side of your storage with others and make money</b></h5><br>
        This is a GIG project. Users can publish their empty storages or empty part of their garage, storage, land and can rent that empty space to others with this way.<br>
        For example you have a 200sqft storage space and can use only 100sqft. Come and share it here, find your Storage-Mate and make money or spend less for your storage rental.<br>
        Free to use! <a href="/auth/google">Sign Up now!</a>
    </div>
    <div class="column">
      <img src="https://i.imgur.com/jtCF90Y.jpg">
    </div>
  </div>


</div>
  
</section>
<%- include('./partials/footer'); -%>


