<%- include('./partials/header'); -%>




<section class="section">
    <div class="container">
      <h1 class="title">
          <a href="/">Contact Routing</a></h1>
          <p class="subtitle">
            <strong>We'll see</strong> at the end of Week#6!
          </p>
        </div>
      </section>
  

      

<% if (user) { %>

    <h1>Logged In Perfectly!</h1>


<% } %>


<%- include('./partials/footer'); -%>


