<%- include('./partials/header'); -%>




<section class="section">
    <div class="container">
      <h1 class="title">
          <a href="/">Record created successfully</a></h1>
          
        </div>
      </section>
  

      

<%- include('./partials/footer'); -%>


