body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  height: 100vh;

}

a {
  color: #00B7FF;
}

.navbar-item.is-mega {
  position: static;
}

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  
}


span.logo{
  font-size: 36px;
  font-family:'Bebas Neue', cursive;
  color: #ff006a;
  font-weight: 600;
}


div.navbar-menu {
  font-size: 12px;
  font-weight: 500;
  }
 

  .tile.is-child.card {
    .card-footer {
        margin-top: auto;
   }
   display: flex;
   flex-direction: column;
} 


div.welcome {
  font-size: 12px;
  margin-top: 27px;
  color: #ee3d5d
}

label.pricelabel {
  font-size: 42px;
  font-weight: 700;
 }

 div.detailsTop {
  margin-top: 62px;  
  position: relative;
 }