body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}

span.logo{
  font-size: 36px;
  font-family:'Bebas Neue', cursive;
  color: #ff006a;
  font-weight: 600;
}

