<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareMyStorage | Admin Panel</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    

         
            <nav class="navbar ">
                <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                <span class="logo">SHARE<font color="#777777">MY</font>STORAGE</span></a>
                 </div>
              
                <div id="navMenubd-example" class="navbar-menu">
                    <div class = "navbar-brand">
                        <span class = "navbar-item">
                        <b>ADMIN PANEL</b> 
                        </span>
                    </div>
                  
                    <% if((user) && (user.userrole == "admin")){ %>
                  
                    <div class = "navbar-brand">
                        <a class = "navbar-item" href="/admins/adminstorages">
                        STORAGES LIST
                        </a>
                    </div>
                    <div class = "navbar-brand">
                        <a class = "navbar-item" href="/admins/adminusers">
                        USERS LIST
                        </a>
                    </div>
                    
                <% } %>
        
                    <div class="navbar-item">
                        <div class="field is-grouped">
                          <p class="control">
                            <% if((!user) || (user.userrole != "admin")){ %><a class="bd-tw-button button is-focused is-small" href="/auth/google">
                              <span>Connect with Google</span> <% } %>
                            </a>
                
                          </p>
          
          
                         </div>
                      </div>

                  </div>
              
                
                   
                      </div>
                    </div>
                  </div>
                </div>
              </nav>


              <section class="hero is-dark">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">
                      All Storages
                    </h1>
                    <h2 class="subtitle">
                     Welcome, <%= user.name %>, you can manage <b>storages</b> & <b>users</b> here
                    </h2>
                  </div>
                </div>
              </section>

